* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #1a1a1d;
  --bg-sidebar: #121820;
  --bg-card: #12253d;
  --bg-button: #42424d;
  --bg-button-active: #3f51b5;
  --bg-input: #ffffff;
  --bg-table: #1b1c20;

  --text-primary: #f5f5f7;
  --text-secondary: #a0aab8;
  --text-dark: #1a1a1d;

  --chart-primary: #3f51b5;
  --chart-secondary: #c62828;
  --accent-green: #2e7d32;

  --border-color: #333333;

  --hover-color: #01445e;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background-color: var(--bg-primary);
  height: 100vh;
}

/* ========== Aside ========== */

.head {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  padding: 15px;
  background-color: var(--bg-sidebar);
  box-shadow: 10px 0 20px 0 var(--bg-card);
  color: var(--text-primary);
  transition: 0.5s all ease-in-out;
  row-gap: 30px;
  z-index: 2;
}

.head.active {
  left: 0;
  box-shadow: none;
  z-index: 9999;
}

.head .close {
  position: relative;
}

.head .close svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.head .info_account {
  margin: 0 auto;
  text-align: center;
}

.head .info_account .icon {
  border-radius: 50%;
  width: 165px;
  height: 165px;
  background-image: url(../image/WhatsApp\ Image\ 2025-10-26\ at\ 3.35.53\ PM.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0 auto 15px;
  border: 3px solid var(--bg-card);
  box-shadow: 0 0 10px 0 #ffffff57;
}

.head .info_account .name {
  color: var(--main-color);
}

.head .menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.head .menu .list-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.head .menu .list-menu li {
  background: var(--bg-button);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s all ease;
  display: flex;
  flex-direction: column;
  max-height: 105px;
  position: relative;
}

.head .menu .list-menu li a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-primary);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.head .menu .list-menu li a p {
  margin: 10px 0 0;
}

.head .menu .list-menu li a svg {
  width: 30px;
  height: 30px;
  margin: 10px auto 0;
  transition: 0.5s all ease-in-out;
}

@media (hover: hover) {
  .head .menu .list-menu li:hover {
    background: var(--hover-color);
  }

  .head .close:hover {
    color: var(--hover-color);
  }
}

/* ========== header ========== */

.content {
  display: flex;
  flex-direction: column;
  transition: 0.5s all ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: 0.5s all ease-in-out;
  width: 100%;
  max-height: 75px;
  box-shadow: 20px 0 20px 0 #000000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.active {
  left: 320px;
}

.header .toggle,
.header .icons {
  cursor: pointer;
}

.header .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .toggle svg,
.header .icons svg {
  transition: 0.3s all ease-in-out;
}

@media (hover: hover) {
  .header .toggle svg:hover,
  .header .icons svg:hover {
    color: var(--hover-color);
  }
}

.header .toggle svg:active,
.header .icons svg:active {
  color: var(--hover-color);
}

.header .search {
  position: relative;
  width: 100%;
  max-width: 40px;
  overflow: hidden;
  margin: 0 10px;
  transition: 0.5s all ease-in-out;
}

.header .search.active {
  max-width: 400px;
}

.header .search input {
  width: 100%;
  padding: 10px 0px 10px 40px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-input);
  color: var(--text-dark);
  font-size: 16px;
  transition: 0.5s all ease-in-out;
  outline: none;
}

.header .search .img-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--border-color);
  left: 0px;
  transition: 0.5s all ease-in-out;
  border-radius: 12px;
  cursor: pointer;
  width: 40px;
  padding: 11.3px 0px;
  text-align: center;
}

.header .search .img-search.active {
  background-color: transparent;
  color: var(--bg-primary);
}

/* ========== Cards ========== */

.content h1 {
  color: var(--text-primary);
  margin: 8px 0 0;
  transition: 0.5s all ease-in-out;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px 0 0;
  margin: 0 auto 15px;
  transition: 0.5s all ease-in-out;
}

.cards .total-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: var(--bg-card);
  color: var(--text-secondary);
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.cards .total-card .icon {
  width: 25%;
  height: 100%;
  text-align: center;
  padding: 20px;
  position: relative;
}

.cards .total-card .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: #23424e;
  color: #48a09c;
  padding: 10px;
  border-radius: 5px;
}

.cards .total-card .text-card {
  width: 75%;
  padding: 10px;
  position: relative;
}

.cards .total-card .text-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
}

.cards .total-card h4 {
  font-size: 16px;
  font-weight: 400;
}

.cards .total-card .text-card p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

@media (hover: hover) {
  .cards .total-card:hover {
    transform: scale(1.08);
  }
}

.cards .total-card:active {
  transform: scale(1.05);
}

@media (max-width: 1199px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* ========== Cards ========== */

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-card);
  border-radius: 12px;
}

.chart-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--text-secondary);
}

.chart-card.one {
  flex: 1;
  padding: 20px 5px 40px;
  font-size: 20px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.chart-card .text {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px;
  width: 8%;
  text-align: center;
  justify-content: space-around;
  gap: 20px;
  font-size: 16px;
}

.chart-card .charts {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.chart-card .chart {
  display: flex;
  position: relative;
  align-items: flex-end;
  gap: 3px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chart-card .chart .blue,
.chart-card .chart .red {
  width: 8px;
  height: 0%;
  transition: all 0.8s ease-in-out;
  will-change: height;
}

.chart-card .chart .blue {
  background-color: var(--chart-primary);
}

.chart-card .chart .red {
  background-color: var(--chart-secondary);
}

.chart-card .chart .month {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.chart-card.two {
  flex-direction: column;
  flex: 1;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  gap: 0;
}

.chart-card.two h1 {
  text-align: left;
  margin: 0;
  padding: 10px 0px 5px 10px;
  font-size: 2rem;
  font-weight: 400;
}

table {
  background-color: var(--bg-table);
}

.info th,
td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid var(--border-color);
}

tr:last-child {
  border-bottom: none;
}

@media (max-width: 1199px) {
  .chart-container {
    flex-direction: column;
  }
  .chart-container .one,
  .chart-container .two {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .chart-card {
    gap: 0;
  }

  .chart-card .text {
    padding: 0 5px;
    font-size: 12px;
  }

  .chart-card .chart {
    gap: 0;
  }

  .chart-card.two {
    border: none;
  }

  .chart-card .chart .month {
    font-size: 11px;
    bottom: -20px;
  }
}
